.home-intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    font-family: 'IvyMode Reg';

}

.home {
    display: grid;
    grid-template-columns: 500px auto;
}

.home-right-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.linkedin-icon {
    margin: 50px 0 0 0;
    font-size: 50px;
    opacity: 0.3;
}
.linkedin-icon:hover {
    opacity: 1;
    cursor: pointer;
}