.resume {
    display: flex;
    justify-content: center;
    padding: 30px 50px 0 50px;
}

.resume-page {
    display: grid;
    grid-template-columns: auto auto;
}

.resume-intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    font-family: 'IvyMode Reg';
}

#resume-download {
    width: 300px;
    height: 30px;
    /*box-shadow: 1px 1px 1px #333333;*/
    margin: 20px 0;
    background-color: #777777;
    opacity: 0.7;
    border-style: none;

    color: #FCFCFC;
    font-family: "Open Sans", sans-serif;
}

#resume-download:hover {
    cursor: pointer;
    opacity: 1;
}

@media all and (max-width: 1280px){
    .resume-intro {
        display: none;
    }
}