
.layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 260px 80%;

    background-color: #f7f4f2;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: #CACACA;
    border-right-style: ridge;
    border-right-width: thin;
}

#text-brand {
    height: 180px;
    width: 180px;

    margin: 10px;

    border-radius: 100px;
    border-style: ridge;
    border-width: 0.01em;

    font-family: 'IvyMode Reg';
    font-size: 40px;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
}

#text-brand:hover {
    opacity: 1.0;
}

.content {
    display: grid;
    grid-template-rows: 50px auto;
}

h1 {
    font-size: 4.4vw;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
}

h2 {
    font-family: "IvyMode Reg";
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 200;
    color: #333333;
    margin: 0;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #333333;
    opacity: 0.9;
    margin: 10px 0 10px 0;
}

a {
    cursor: default;
    text-decoration: none;
    color: #333333;
}

#menu {
    display: flex;
    flex-direction: row;
}

.menu-item {
    font-family: "IvyMode Reg";
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 200;
    color: #333333;
    margin: 0 2px 0 2px;

    padding: 10px;
    opacity: 0.8;
}

.menu-item:hover {
    opacity: 1;
}
#portfolio {
    padding: 10px;
    margin: 0 0 0 10px;
}

@media mobile and (max-width: 768px){

}